.menuLateralTurmas {
    margin-left: 52.5%;
    max-width: fit-content;
    padding: 20px;
    color: #ddd;
    align-items: right;
   
  }

  .menuLateralTurmas ul li{
    border-color: white;
    border: 2px;
  }

  @media (min-width: 360px) {
    .menuLateralTurmas {
      padding: 0;
    }
  
    .menuLateralTurmas ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .menuLateralTurmas li {
      position: relative;
    }
  
    .menuLateralTurmas a,
    .menuLateralTurmas a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: var(--font-primary);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .menuLateralTurmas a i,
    .menuLateralTurmas a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .menuLateralTurmas a:hover,
    .menuLateralTurmas .active,
    .menuLateralTurmas .active:focus,
    .menuLateralTurmas li:hover>a {
      color: #fff;
    }
  
    .menuLateralTurmas .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: var(--color-secondary);
      transition: 0.3s;
      border-radius: 4px;
    }
  
    .menuLateralTurmas .dropdown ul li {
      min-width: 200px;
    }
  
    .menuLateralTurmas .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 400;
    }
  
    .menuLateralTurmas .dropdown ul a i {
      font-size: 12px;
    }
  
    .menuLateralTurmas .dropdown ul a:hover,
    .menuLateralTurmas .dropdown ul .active:hover,
    .menuLateralTurmas .dropdown ul li:hover>a {
      color: #fff;
    }
  
    .menuLateralTurmas .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .menuLateralTurmas .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .menuLateralTurmas .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .menuLateralTurmas .dropdown .dropdown ul {
      left: -90%;
    }
  
    .menuLateralTurmas .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  .TabelaDeTurmas button{
    border-radius: 5rem;
    height: 2rem;
    width: 2re,;
    margin-right: 0.5rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.TabelaDeCursos button{
  border-radius: 5rem;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}


.btn-lapis {
 
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}


.btn-lixo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
   
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

