.emailAdm{
    width: 10%;
}

.cellGrandeAluno{
    width: 20%;
    
}

.alinharConteudoCell{
    align-content: center;
}




@media (min-width: 1280px) {
    .TabelaAdministradores {
      width: 69rem;
      border-color: red; 
    } 
}



@media (min-width: 1400px) {
    .TabelaAdministradores {
      width: 80rem;
    } 
}


.TabelaAdministradores button{
    border-radius: 5rem;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-lapis {
 
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}


.btn-lixo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
   
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

