
#modalTurma {
  width: 33rem;
  height: 20rem;
  background-color: #fff;
  color: black;
  border-radius: 8px;
  padding: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
}


#Close-modal-Turma {
  box-shadow : 0px 0 0px 0px white;
  border-radius: 20px;
  background-color: white;
  border-color: white;
  z-index: 2;
  height: 2rem;
  width: 2rem;
 
}

#ModaltituloTurma{
  color: gray;
}

#btnCancelarTurma{
  margin-right: 10px;
}


#turmaHorario {
  background-color: whitesmoke;
  color: black;
}

#TurmaDias {
  background-color: whitesmoke;
  color: black;
}

#rowModalTurma{
  margin-left: -8rem;
}


#horarioTurma {
 
  margin-top: -3rem;
}

#btnCadastrarTurma {
 margin-top: -2rem;
}

#Select-Curso {
  padding: 10px;
  width: 14.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.SelectTurm {
  padding: 10px;
  width: 14.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}